:root {
    --violeta: #b05cab;
    --azul: #056b87;
    --violeta-rgba: rgba(176,92,171,0.7);
    --azul-rgba: rgba(5,107,135,0.7);
    --gris: #333;
}

body{
    margin:0px;
    /* overflow-x: hidden; */
}

.margin-cero{
    margin: 0;
}

.header{
    background-image: url('../img/DSC_-1@2x.png');
    height: 110vh;
}

.lupenni-logo{
    position: fixed;
    top: 30px;
    left: 45%;
    width: 10%;
    z-index: 300 !important;
}

.boton-hambur{
    position: fixed;
    top: 30px;
    left: 90%;
    width: 10%; 
}


.header-txt{
    color: white;
    font-size: 160px;
    line-height: 160px;
    font-family: 'Trade Gothic 20 Condensed';
    margin: 0px;
    height: 110vh;
    padding: 8% 5% 0% 5%; 
    background: linear-gradient(to right,var(--violeta-rgba), var(--azul-rgba));
}

.before-feature{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* ******************************************************************************************************* */


/* ******************************************************************************************************* */
.feature{
    height: 800px;
}

.feature-title{
    height: 250px;
    background-color: white;
    margin: 0px;
}

.feature-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-col-1{
    width: 15vw;
    border: 50px solid white;
}

.feature-col-2{
    width: 35vw;
    border: 25px solid white;

}

.cel-1{
    text-align: center;
}

.feature-tabla-col-row{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ******************************************************************************************************* */







/* ******************************************************************************************************* */
.galeria{
    height: 800px;
    border-top: 500px solid white;
    background-color: #333;
}

.galeria-img-1{
    position: absolute;
    height: 700px;
    top: 2750px;
    background-image: url('../img/DSC_6233.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 10%;
    width: 30%;
}

.galeria-img-2{
    position: absolute;
    height: 500px;
    top: 2650px;
    background-image: url('../img/DSC_2349.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    left: 45%;
    width: 45%;
}

.galeria-img-3{
    position: absolute;
    height: 450px;
    top: 3200px;
    background-image: url('../img/DSC_1518.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    left: 45%;
    width: 45%;
}

/* ******************************************************************************************************* */


/* ******************************************************************************************************* */
.after-galeria{
    height: 800px;
    background-color: #333;
}

.after-galeria-h1{
    margin: 0;
    padding-top: 200px;
    height: 200px;
    color: white;
}

.after-galeria-tabla{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-galeria-text{
    height: 100%;
    width: 60%;
    background-color: var(--gris);
    color: white;
}

.after-galeria-img{
    background-color: var(--gris);
    background-image: url('../img/Trazado 39@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40%;
}
/* ******************************************************************************************************* */


/* ******************************************************************************************************* */

.programa{
    padding: 5%;
    background-color: var(--gris);
}

.program{
    background-color: #555;
    margin: 0% 0% 5% 0%;
}

.program-1-title{
    display: flex;
    justify-content: left;
    align-items: center;
}

.program-1-title-img{
    width: 130px;
    height: 130px;
    background-image: url('../img/fb.png');
}
/* ******************************************************************************************************* */


/* ******************************************************************************************************* */

.frase{
    color: white;
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, var(--violeta), var(--azul));
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ******************************************************************************************************* */


/* ******************************************************************************************************* */

.contacto{
    background-color: var(--gris);
    height: 100vh;
    color: white;
}

.contacto-center{
    display: flex;
    padding: 0% 10%;
}

.contact-input-div-left{
    width: 60%;
}
.contact-input-div-right{
    width: 40%;
}

.contact-input-div-100{
    width: 100%;
}

.input-contact-left{
    width: 80%;
}
.input-contact-right{
    width: 100%;
}

.input-contact-100{
    width: 100%;
}

.div-input-contact{
    position: relative;
    display: flex;
    height: 50px;
    background-color: aqua;
}

.inputs-contact{
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-bottom: 5px solid red;
    padding: 5px 10px;
    left: 0;
}


.frase-contacto{
    color: white;
    height: 500px;
    width: 100%;
    background: linear-gradient(50deg, var(--violeta), var(--azul));
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    color: white;
    height: 300px;
    width: 100%;
    background: linear-gradient(to top, rgb(0,0,0), rgb(10,10,10));
    display: flex;
    justify-content: center;
    align-items: center;
}


.invert{
    mix-blend-mode: difference;
 }
 

.parallax{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0,0,0), rgb(225,0,0));
    z-index: -10;
}