:root {
    --violeta: #b05cab;
    --azul: #056b87;
    --violeta-rgba: rgba(176,92,171,0.7);
    --azul-rgba: rgba(5,107,135,0.7);
    --gris: #333;
    --intermedio-feature: rgba(114,98,158,0.5);
    --azul-feature: rgba(61,102,147,0.5);
    --violeta-feature: rgba(169,93,170,0.5);
}

body{
    margin:0px;
    overflow-x: hidden;
}

.margin-cero{
    margin: 0;
}

.header{
    background-image: url('../img/DSC_-1@2x.png');
    height: 110vh;
}

.lupenni-logo{
    position: fixed;
    top: 30px;
    left: 44.5%;
    width: 11%;
    z-index: 300 !important;
}

.insta-menu-div{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.insta-menu-img{
    height: 30px;
    padding-right: 10px;
}

.insta-menu-text{
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.boton-hambur{
    position: fixed;
    top: 30px;
    left: 90%;
    width: 10%; 
}


.header-txt{
    color: white;
    font-size: 160px;
    line-height: 160px;
    font-family: 'Trade Gothic 20 Condensed';
    margin: 0px;
    height: 110vh;
    padding: 8% 5% 0% 5%; 
    background: linear-gradient(to right,var(--violeta-rgba), var(--azul-rgba));
}

/* ******************************************************************************************************* */

/* ******************************************************************************************************* */

.before-feature{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 60px;
}

.img-before-feature{
    animation: corazon 1.5s infinite;
}

/* ******************************************************************************************************* */


/* ******************************************************************************************************* */
.feature-title{
    height: 250px;
    background-color: white;
    margin: 0px;
    padding-left: 5vw;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 180px;
}

.feature-tabla{
    border-bottom: 100px solid white;
}

.feature-tabla-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-tabla-row-img-left{
    width: 10vw; 
    height: 10vw; 
    border-top: 50px solid white;
    border-left: 5vw solid white;
    border-right: 2vw solid white;
    border-bottom: 50px solid white;
}

.feature-tabla-row-img-right{
    width: 10vw; 
    height: 10vw; 
    border-top: 50px solid white;
    border-right: 2vw solid white;
    border-bottom: 50px solid white;
}

.feature-tabla-row-div{
    width: 33vw; 
    background-color: white; 
    height: 10vw; 
    border-bottom: 50px solid white; 
    border-top: 50px solid white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.feature-right{
    border-right: 5vw solid white;
}

.feature-h3-violeta-claro-left{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--violeta-feature); 
    font-weight: 100;
    padding: 0% 5%;
    height: 30px !important;
    width: 100%;
}

.feature-h3-violeta-claro{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--violeta-feature); 
    font-weight: 100;
    padding: 0% 5%;
    height: 30px !important;
}

.feature-h3-intermedio-claro-left{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--intermedio-feature); 
    font-weight: 100;
    padding: 0% 5%;
    height: 30px;
    margin: 0px !important;
}

.feature-h3-intermedio-claro{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--intermedio-feature); 
    font-weight: 100;
    padding: 0% 0% 0% 5%;
    height: 30px;
    width: 100% !important;
}

.feature-h3-azul-claro-left{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--azul-feature); 
    font-weight: 100;
    padding: 0% 5%;
    width: 100%;
    height: 30px;
}

.feature-h3-azul-claro{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    border-bottom: 20px solid var(--azul-feature); 
    font-weight: 100;
    padding: 0% 0% 0% 5%;
    height: 30px;
}

.feature-h4{
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 30px;
    font-weight: 100;
    padding: 0% 5%;
    margin: 10px 0px;
    width: 100%;
}
/* ******************************************************************************************************* */







/* ******************************************************************************************************* */
.galeria{
   background:  linear-gradient(180deg, white 30%, var(--gris) 30%);    
   background-position: 0% 10%;
}

.galeria-flex{
    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.relleno{
    width: 100%;
    height: 100px;
}

.galeria-img-1{
    width: 30vw;
    margin: 5vw;
    opacity: 0;
}

.galeria-img-2{
    width: 90%;
    padding: 0px 0px 10vh 0px;
    height: 75vh;
    opacity: 0;
}

.galeria-img-3{   
    width: 90%;
    height: 75vh;
    opacity: 0;
}

/* ******************************************************************************************************* */


/* ******************************************************************************************************* */
.after-galeria{
    padding-top: 100px;
    background-color: #333;
}

.after-galeria-h1{
    margin: 0;
    padding-top: 20vh;
    color: white;
    padding-left: 5vw;
    font-family: 'Trade Gothic 20 Condensed';
    line-height: 180px;
    font-size: 180px;
    padding-bottom: 5vh;
}

.after-galeria-tabla{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-galeria-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 60vw;
    background-color: var(--gris);
    color: white;
    font-family: 'Trade Gothic 18 Condensed';
    padding-left:5vw;
    margin-right: 5vw;
    font-size: 40px;

}

.after-galeria-div-img{
    background-color: var(--gris);
    width: 40vw;
    /* animation: corazon 1.5s infinite; */

}

.after-galeria-img{
    width: 80%;
    padding-left: 10%;
}

/* ******************************************************************************************************* */

.programa{
    padding:0% 5%;
    background-color: var(--gris);
}

.program{
    background-color: #555;
    margin: 0% 0% 0% 0%;
}

.programa-h1{
    color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 180px;
    margin-bottom: 120px;
}

.program-1-title{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 60px !important;
}

.program-1-title-img{
    width: 180px;
    height: 130px;
    margin-right: 2%;
    background-image: url('../img/Grupo 23@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.img-program{
    background-image: url('../img/Grupo 22@2x.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* transform: rotateZ(180deg); */
    transition: all 0.3s;
}

.lista-nivel-item{
    font-family: 'Trade Gothic Italic';
    font-size: 30px;
    margin: 10px 0;
}

/* ******************************************************************************************************* */


/* ******************************************************************************************************* */

.frase{
    color: white;
    font-family: 'Trade Gothic Bold Italic';
    font-style: italic;
    font-size: 30px !important;
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, var(--violeta), var(--azul));
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ******************************************************************************************************* */


/* ******************************************************************************************************* */

.contacto{
    background-color: var(--gris);
    color: white;
    padding: 100px 5vw;
}

.contacto-h1{
    color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 180px !important;
}

.btn-enviar-contacto{
    background-color: white;
    color: var(--violeta);
    height: 80px;
    font-family: 'Trade Gothic 18 Condensed';
    padding: 0px 50px;
    font-size: 40px;
    border: none;
    text-decoration: none;
    animation: white-back 0.3s;
    animation-fill-mode: forwards;
}

.btn-enviar-contacto:hover{
    animation: violeta-back 0.3s;
    animation-fill-mode: forwards;
}


@keyframes violeta-back {
    0% {
        background-color: white;
        color: var(--violeta);
    }
    100% {    
        background-color: var(--violeta);
        color: white;
    }
}

@keyframes white-back {
    0% {    
        background-color: var(--violeta);
        color: white;
    }
    100% {
        background-color: white;
        color: var(--violeta);
    }
}


.contacto-center{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.contacto-center-btn{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-btn-div{
    width: 20%;
}
.contacto-info-div{
    width: 80%;
}

.contacto-info{
    margin: 0px 30px; 
    float: right; 
    border-bottom: 30px solid var(--violeta); 
    height: 40px;
    padding:0px 20px;
    color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 60px !important;
    animation: violeta-margin 0.3s;
    animation-fill-mode: forwards;
}

.contacto-info:hover{
    animation: azul-margin 0.3s;
    animation-fill-mode: forwards;
}


@keyframes azul-margin {
    0% {
        border-bottom: 30px solid var(--violeta); 
    }
    100% {    
        border-bottom: 30px solid var(--azul); 
    }
}

@keyframes violeta-margin {
    0% {    
        border-bottom: 30px solid var(--azul); 
    }
    100% {
        border-bottom: 30px solid var(--violeta); 
    }
}




.contact-input-div-left{
    width: 60%;
}
.contact-input-div-right{
    width: 40%;
}

.contact-input-div-100{
    width: 100%;
}

.input-contact-left{
    width: 80%;
}
.input-contact-right{
    width: 100%;
}

.input-contact-100{
    width: 100%;
}

.div-input-contact{
    position: relative;
    display: flex;
    height: 50px;
    background-color: aqua;
}

.inputs-contact{
    background-color: #3CBC8D;
    color: white;
    border: none;
    border-bottom: 5px solid red;
    padding: 5px 10px;
    left: 0;
}


.frase-contacto{
    color: white;
    height: 500px;
    width: 100%;
    background: linear-gradient(50deg, var(--violeta), var(--azul));
    display: flex;
    align-items: center;
}

.back-frase-after-contacto{
    height: 500px;
    float: right;
}

.frase-after-contacto{
    color: white;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 60px !important;
    text-align: center;
    width: 100% !important;
}

.h2-frase-after-contacto{
    margin-bottom: 30px !important;
}


.footer{
    color: white;
    height: 300px;
    width: 100%;
    background: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-h2{
    text-align: center;
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 20px !important;
}

.footer-a{
    text-align: center;
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 20px !important;
    text-decoration: none;
    color: white;
    border-bottom: 0px solid white;
    transition: all 0.3s;
}
.footer-a:hover{
    border-bottom: 2px solid white;
    transition: all 0.3s;
}

.invert{
    mix-blend-mode: difference;
 }
 

.parallax{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--azul) 30%, var(--violeta) 70%);
    z-index: -100;
}

@keyframes corazon {
    0% {
        width: 30vw;
    }
    10%{
        width: 32vw;
    }
    20%{
        width: 28vw;
    }
    30%{
        width: 32vw;
    }
    50%{
        width: 30vw;
    }
    100% {    
        width: 30vw;
    }
}

@keyframes corazon-pace {
    0% {
        width: 10vw;
        filter:drop-shadow(0px 0px 3px #606060);
    }
    10%{
        width: 12vw;
        filter:drop-shadow(0px 0px 10px #606060);
    }
    20%{
        width: 8vw;
        filter:drop-shadow(0px 0px 3px #606060);
    }
    30%{
        width: 12vw;
        filter:drop-shadow(0px 0px 10px #606060);
    }
    50%{
        width: 10vw;
        filter:drop-shadow(0px 0px 3px #606060);
    }
    100% { 
        width: 10vw;
        filter:drop-shadow(0px 0px 10px #606060);
    }
}