.about-me{
    padding-top: 5%;
    height: 110vh;
    background-color: white;
    border-bottom: 3px solid var(--azul);
}

.about-section{
    height: 120vh;
    padding: 0% 5% 0% 5%;
    border-bottom: 10vh solid white !important;
}



.about-foto{
    padding: 10vh 0vw;
    width: 30vw;
}

.about-name{
    position: absolute;
    /* top: 140vh;
    left: 30vw; */
    background: white !important;
    padding: 0% 3vw;
    font-family: 'Trade Gothic 20 Condensed';
    font-size: 12vw;
    margin: 0;
    color: var(--violeta);
}

.about-texto{
    position: absolute;
    top: 170vh;
    left: 40vw;
    width: 50vw;
    background: white !important;
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 50px;
    text-align: left;
    line-height: 60px;
    margin: 0;
    color: var(--gris);
}

.about-texto-info{
    position: absolute;
    top: 205vh;
    left: 40vw;
    width: 50vw;
    background: white !important;
    font-family: 'Trade Gothic 18 Condensed';
    font-size: 40px;
    text-align: left;
    margin: 0;
    color: var(--gris);
}

.about-a-info{
    color: var(--azul);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

.about-a-info:hover{
    color: var(--violeta);
    transition: all 0.3s;
}

@media screen and (max-width: 950px) {

    .about-section{
        height: 190vh;
        padding: 0px;
        background-color: #fff;
    }

    .about-foto{
        padding: 0vw 0vw;
        width: 100%;
    }

    .about-name{
        position: absolute;
        top: 220vh;
        left: 0vw !important;
        /* background: white !important; */
        padding: 0% 0vw;
        font-family: 'Trade Gothic 20 Condensed';
        font-size: 15vw;
        /* margin: 0; */
        /* color: var(--violeta); */

        background-color: #fff;
        color: #000;
        /* the magic property */
        mix-blend-mode: screen;
        width: 100% !important;
        text-align: center;
    }

    .about-me{
        padding-top: 0px;
    }

    .about-texto{
        position: absolute;
        top: 270vh;
        left: 0vw;
        width: 100%;
        background: white !important;
        font-family: 'Trade Gothic 18 Condensed';
        font-size: 55px;
        text-align: center;
        line-height: 60px;
        margin: 0;
        color: var(--gris);
    }

    .about-texto-info{
        position: absolute;
        top: 295vh;
        left: 0vw;
        width: 100%;
        background: white !important;
        font-family: 'Trade Gothic 18 Condensed';
        font-size: 40px;
        text-align: center;
        margin: 0;
        color: var(--gris);
    }







}




